<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="day01.quang.projectmon">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_map_api_key" />

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FavoriteActivity" />
        <activity android:name=".SettingActivity" />
        <activity android:name=".Detail1Activity" />
        <activity android:name=".DetailDLActivity" />
        <activity android:name=".DetailHotel1Activity" />
        <activity android:name=".DetailHotel2Activity" />
        <activity android:name=".DetailFood1Activity" />
        <activity android:name=".DetailFood2Activity"></activity>

        <activity
            android:name=".PlanActivity"
            android:theme="@style/AppTheme"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".TripBankActivity"
            android:theme="@style/AppTheme"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".MapActivity"
            android:theme="@style/AppTheme"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".UserInfoActivity"
            android:theme="@style/AppTheme"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".PlanEditActivity"
            android:theme="@style/AppTheme"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".PlaceAroundActivity"
            android:theme="@style/AppTheme"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ConfirmTripActivity"
            android:theme="@style/AppTheme"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            />

    </application>

</manifest>